@import './theme.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
color: var(--text-color);
height: 100%;
}

#app {
    height: 100%;
}

.app-container {
background-image: linear-gradient(
    var(--bg-light) 0%,
    var(--bg-medium) 50%,
    var(--bg-dark) 100%
);
}

button {
    background-color: var(--text-color);
    color: white;
    border: none;
}

.list-title {
    color: var(--text-color);
    font-weight: 600;
    border: 2px solid;
    font-size: 1.5rem;
    border-radius: 35px;
    width: 300px;
}

.bi-star {
    color: var(--text-accent);
}

.list-top {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
}

.list-top-btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.to-do-list-container {
    color: var(--text-color);
    border: 2px solid;
    font-size: 1.5rem;
    border-radius: 35px;
}

.done-button {
    background-color: transparent;
    color: var(--text-color);
}

.new-item-btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.list-unstyled {
    margin: 0 20px;
}

.new-item-form input {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border: 2px solid var(--text-color);
    width: 100%;
    padding-left: 15px;
}

.new-item-form input::placeholder {
    color: var(--text-accent);
}

.new-item-form input:focus {
    outline: none;
    border-color: var(--text-color); 
}

.new-item-form button {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border: none;
    background-color: var(--text-color);
    color: white;
    border: 2px solid var(--text-color);
}

.modal-custom {
    color: var(--text-color);
    border: 2px solid;
    border-radius: 35px;
}

.form-check-input {
    width: 40px;
    height: 20px;
    background-color: var(--bg-light);
    border: 2px solid var(--text-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--text-accent);
    border-color: var(--text-accent);
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.form-check-label {
    color: var(--text-color);
    font-weight: 500;
    margin-left: 10px;
}

.form-check-input::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.form-check-input:checked::before {
    left: 20px;
}

.switch {
   --switch_width: 2em;
   --switch_height: 1em;
   font-size: 17px;
   position: relative;
   display: inline-block;
   width: var(--switch_width);
   height: var(--switch_height);
  }
  
  .switch input {
   opacity: 0;
   width: 0;
   height: 0;
  }

  .slider {
   box-sizing: border-box;
   border: 2px solid var(--text-color);
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--bg-light);
   transition: .15s;
   border-radius: var(--switch_height);
  }
  
  .slider:before {
   box-sizing: border-box;
   position: absolute;
   content: "";
   height: var(--switch_height);
   width: var(--switch_height);
   border: 2px solid var(--text-color);
   border-radius: 100%;
   left: -2px;
   bottom: -2px;
   background-color: var(--bg-light);
   transform: translateY(-0.2em);
   box-shadow: 0 0.2em 0 var(--text-color);
   transition: .15s;
  }
  
  input:checked + .slider {
   background-color: var(--bg-medium);
  }
  
  input:focus-visible + .slider {
   box-shadow: 0 0 0 2px var(--bg-medium);
  }
  
  input:hover + .slider:before {
   transform: translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--text-color);
  }
  
  input:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }
  
  input:hover:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--text-color);
  }